@model IEnumerable<Product>
<table>
    <tr>
        <th scope="col">
            <input type="checkbox" id="filterUnitsOnOrder">
            <label for="filterUnitsOnOrder">Units On Order</label>
        </th>
        <th scope="col">
            <input type="checkbox" id="filterDiscontinued">
            <label for="filterDiscontinued">Discontinued</label>
        </th>
        <th scope="col">
            <input type="checkbox" id="filterNeedReorder">
            <label for="filterNeedReorder">Needs Reorder</label>
        </th>

    </tr>
</table>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity Per Unit</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Units In Stock</th>
            <th scope="col">Units On Order</th>
            <th scope="col">Reorder Level</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            string modifier = "";

            @if (product.Discontinued) {
                modifier += " discontinued";
            } else {
                modifier += " not";
            }
            @if (product.UnitsInStock < product.ReorderLevel)
            {
                modifier += " employeeProductLow";
            }
            <tr class="employeeProduct@(modifier)">
                <td class="employeeProduct">@product.ProductId</td>
                <td class="employeeProduct">@product.ProductName</td>
                <td class="employeeProduct">@product.QuantityPerUnit</td>
                <td class="employeeProduct">@product.UnitPrice</td>
                <td class="employeeProduct">@product.UnitsInStock</td>
                <td class="employeeProduct">@product.UnitsOnOrder</td>
                <td class="employeeProduct">@product.ReorderLevel</td>
            </tr>
        }
    </tbody>
</table>

