@model IEnumerable<Product>

</table>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity Per Unit</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Units In Stock</th>
            <th scope="col">Units On Order</th>
            <th scope="col">Reorder Level</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            string modifier = "";
            @if (product.UnitsInStock < product.ReorderLevel)
            {
                modifier += " employeeProductLow";
            }
            @if (product.UnitsInStock == 0) {
                modifier += " employeeProductZero";
            }
            <tr class="employeeProduct">
                <td class="employeeProduct@(modifier)">@product.ProductId</td>
                <td class="employeeProduct@(modifier)">@product.ProductName</td>
                <td class="employeeProduct@(modifier)">@product.QuantityPerUnit</td>
                <td class="employeeProduct@(modifier)">@product.UnitPrice</td>
                <td class="employeeProduct@(modifier)">@product.UnitsInStock</td>
                <td class="employeeProduct@(modifier)">@product.UnitsOnOrder</td>
                <td class="employeeProduct@(modifier)">@product.ReorderLevel</td>
            </tr>
        }
    </tbody>
</table>

